body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#maincard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 40px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    padding: 20px;
    border-radius: 10px;
    #maincard1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        #phone{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            #input{
                padding-left: 16px;
                border-radius: 100px;
                color: black;
                border: none;
                width: 300px;
                height: 40px;
            }
            #search{
                width: 35px;
                border-radius: 50%;
                background-color: #fff;
                padding: 7px;
            }
        }
        #phone1{
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            #error{
                font-size: 30px;
            }
            #error1{
                height: 180px;
            }
        }
        
    }
    #mainhome{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        #maincard2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            #whtpic{
                width: normal;
            }
            #deg{
                font-size: 40px;
            }
            #cityname{
                font-size: 37px;
                font-family: sans-serif;
            }
        }
        #maincard3{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 40px;
            #subcard{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                #humpic{
                    width: 90px;
                }
                #card{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    #per{
                        font-size: normal;
                    }
                    #wename{
                        font-size: normal;
                    }
                }
                
            }
            #subcard1{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                #humpic1{
                    width: 90px;
                }
                #card1{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    #per1{
                        font-size: normal;
                    }
                    #wename1{
                        font-size: normal;
                    }
                }
                
            }
        }
    }
}